{% extends 'Product/base.html' %} {% block title %}Cart| Emart{% endblock title %} {% block body %}


<div class="container text-center">
    <br>
    <h2 class="text center" style=" color: brown;">Checkout</h2>
    <hr style="width: 20%;height:4px;border-width:0;;background-color:rgb(0, 199, 209);margin-left: 40%;">

    <p>{{user.username}} , Here is your order details</p>

    <form method="post" style="justify-content: center;">
        {% csrf_token %}
        <!-- Display cart items and total price -->


        <h6 style="color: darkred;">Product Details</h6>

        {% for cart_product in cart_product %}
        <p>{{ cart_product.product.product_name }} - {{ cart_product.product.product_price }} Rs x {{ cart_product.quantity }}</p>
        {% endfor %}
        <span style="background-color: chartreuse;border: 1px soliod black;font-family:'Times New Roman', Times, serif;">Total Price: <span style="color: brown;">{{ total_price }} Rs</span></span>
        <br>
        <h6 style="color: darkred;">Shipping Details </h6>
        <ul style="list-style: none;">
            <li>Name : {{user.username}}</li>
            <li> Contact : {{user.profile.contact}}</li>
            <li> Address : {{user.profile.address}} </li>
            <li>{{user.profile.locality}} , {{user.profile.city}}</li>
            <li>{{user.profile.zipcode}}</li>
        </ul>

        <input type="submit" value="Place Order" class="btn btn-success">
    </form>

</div>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora perspiciatis illum optio sapiente veniam. Minima laborum unde nihil eum totam, blanditiis corporis, nam ea fugit velit dolores atque error molestiae?</p><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora perspiciatis illum optio sapiente veniam. Minima laborum unde nihil eum totam, blanditiis corporis, nam ea fugit velit dolores atque error molestiae?</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora perspiciatis illum optio sapiente veniam. Minima laborum unde nihil eum totam, blanditiis corporis, nam ea fugit velit dolores atque error molestiae?</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora perspiciatis illum optio sapiente veniam. Minima laborum unde nihil eum totam, blanditiis corporis, nam ea fugit velit dolores atque error molestiae?</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora perspiciatis illum optio sapiente veniam. Minima laborum unde nihil eum totam, blanditiis corporis, nam ea fugit velit dolores atque error molestiae?</p>





{% endblock body %}